.App {
    max-width: 400px;
    margin: auto;
    text-align: center;
      }
  
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input {
    width: 70%;
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  